body { 
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#login-form, #register-form, #task-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #6A24E0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #6660E0;
}

p {
  text-align: center;
  margin-top: 15px;
}

p a {
  color: #6A24E0;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;


  display: flex;
  align-items: center; 
  justify-content: space-between; 
}


li span {
  flex-grow: 1;
  margin-right: 10px; 
}


li button {
  width: auto; 
  padding: 8px 12px; 
  margin-left: 5px; 
}
